<web-app>
    <display-name>Xbotlive-Your games your live</display-name>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <display-name>HomeController</display-name>
        <description></description>
        <servlet-class>com.khanhphan.controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <display-name>CartController</display-name>
        <description></description>
        <servlet-class>com.khanhphan.controller.CartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/CartController</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
