<web-app>
    <display-name>Xbotlive-Your games your live</display-name>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <display-name>HomeController</display-name>
        <description></description>
        <servlet-class>com.khanhphan.controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutController</servlet-name>
        <display-name>CheckoutController</display-name>
        <description></description>
        <servlet-class>com.khanhphan.controller.CheckoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThankController</servlet-name>
        <display-name>ThankController</display-name>
        <description></description>
        <servlet-class>com.khanhphan.controller.ThankController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DemoController</servlet-name>
        <display-name>DemoController</display-name>
        <description></description>
        <servlet-class>com.khanhphan.controller.DemoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <display-name>CartController</display-name>
        <description></description>
        <servlet-class>com.khanhphan.controller.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompareController</servlet-name>
        <display-name>CompareController</display-name>
        <description></description>
        <servlet-class>com.khanhphan.controller.CompareController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WishlistController</servlet-name>
        <display-name>WishlistController</display-name>
        <description></description>
        <servlet-class>com.khanhphan.controller.WishlistController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <display-name>LoginController</display-name>
        <description></description>
        <servlet-class>com.khanhphan.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <display-name>RegisterController</display-name>
        <description></description>
        <servlet-class>com.khanhphan.controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOutController</servlet-name>
        <display-name>SignOutController</display-name>
        <description></description>
        <servlet-class>com.khanhphan.controller.SignOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogle</servlet-name>
        <display-name>LoginGoogle</display-name>
        <description></description>
        <servlet-class>com.khanhphan.controller.LoginGoogle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/CartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompareController</servlet-name>
        <url-pattern>/CompareController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WishlistController</servlet-name>
        <url-pattern>/WishlistController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutController</servlet-name>
        <url-pattern>/CheckoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThankController</servlet-name>
        <url-pattern>/ThankController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOutController</servlet-name>
        <url-pattern>/SignOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogle</servlet-name>
        <url-pattern>/LoginGoogle</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- SMTP settings -->
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>

    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>

    <context-param>
        <param-name>user</param-name>
        <param-value>xbotlive.service@gmail.com</param-value>
    </context-param>

    <context-param>
        <param-name>pass</param-name>
        <param-value>hcmute123</param-value>
    </context-param>
</web-app>
